<a href="https://colab.research.google.com/github/juanxo90/cargamos/blob/main/cargamos_prueba.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Prueba técnica para la posición de data science en Cargamos

In [21]:
# importamos las librerias
import pandas as pd

from textwrap import shorten

In [2]:
pd.set_option("display.max_columns", None)

# cargamos los datos
paq_det = pd.read_csv("https://raw.githubusercontent.com/juanxo90/cargamos/main/data/paquete_detail%20(2).csv")
reg_det = pd.read_csv("https://raw.githubusercontent.com/juanxo90/cargamos/main/data/register_detail%20(2).csv")

In [3]:
paq_det.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14056 entries, 0 to 14055
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_paquete        14056 non-null  object
 1   cedis             14056 non-null  object
 2   estado            14056 non-null  object
 3   hora_recolectado  13997 non-null  object
 4   hora_creacion     14056 non-null  object
 5   hora_entregado    12502 non-null  object
 6   hora_falla        1651 non-null   object
dtypes: object(7)
memory usage: 768.8+ KB

In [4]:
reg_det.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15573 entries, 0 to 15572
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id_paquete          15573 non-null  object
 1   id_monitoreo        15573 non-null  object
 2   arreglo_estados     15573 non-null  object
 3   complemento_estado  15573 non-null  object
 4   fecha_creado        15573 non-null  object
dtypes: object(5)
memory usage: 608.4+ KB

In [5]:
paq_det[paq_det["hora_falla"].isna()]

,id_paquete,cedis,estado,hora_recolectado,hora_creacion,hora_entregado,hora_falla
0,dfaf8b12-35a9-4e58-859b-f521ed1c8783,CUERNAVACA 001,SUCCESSFUL,2021-12-11T17:46:26.779000,2021-12-11T11:16:03.660000,2021-12-11T19:13:55.526000,NaN
1,ceb26cd5-6f4d-4921-aebf-de2234dcab93,CUERNAVACA 001,SUCCESSFUL,2021-12-11T17:46:26.779000,2021-12-11T11:13:59.916000,2021-12-11T19:58:28.659000,NaN
2,40ddede0-7bda-42d8-8e5e-10f8f942f232,CUERNAVACA 001,SUCCESSFUL,2021-12-11T17:46:26.779000,2021-12-11T11:21:49.355000,2021-12-11T18:20:13.992000,NaN
3,3e5565aa-0b0b-4521-a452-b9101d849449,CUERNAVACA 001,SUCCESSFUL,2021-12-11T17:46:26.779000,2021-12-11T11:24:37.626000,2021-12-11T18:38:37.123000,NaN
4,6104b63a-2a8c-4b53-9321-157fbc70fb32,CUERNAVACA 001,SUCCESSFUL,2021-12-11T17:46:26.779000,2021-12-11T10:40:58.025000,2021-12-11T20:32:07.038000,NaN
...,...,...,...,...,...,...,...
14051,395e1f11-99b9-4e28-8862-8bac519e4526,mexico 001,SUCCESSFUL,2021-12-09T11:14:06.798000,2021-12-08T17:51:32.810000,2021-12-09T13:35:54.216000,NaN
14052,4ef6ef7a-aae1-4472-a3e6-df10e85fc90e,mexico 001,SUCCESSFUL,2021-12-09T11:14:06.798000,2021-12-08T17:51:34.955000,2021-12-09T14:19:26.248000,NaN
14053,ec5e0b9a-0d62-43af-bf9d-7b2c0f289ea9,mexico 001,SUCCESSFUL,2021-12-09T09:41:42.853000,2021-12-08T17:51:34.984000,2021-12-09T13:31:27.894000,NaN
14054,04726caf-bc4b-4bff-83f9-162771a3521d,mexico 001,SUCCESSFUL,2021-12-09T09:44:27.495000,2021-12-08T17:51:33.139000,2021-12-09T14:17:14.842000,NaN
14055,c33d4da2-044f-4165-b1f5-89c1423939e3,mexico 001,SUCCESSFUL,2021-12-09T09:44:27.495000,2021-12-08T17:51:32.810000,2021-12-09T14:16:47.213000,NaN

In [6]:
reg_det.merge(paq_det, how="inner", on=["id_paquete"])

,id_paquete,id_monitoreo,arreglo_estados,complemento_estado,fecha_creado,cedis,estado,hora_recolectado,hora_creacion,hora_entregado,hora_falla
0,e3868099-1cfc-494d-ae19-09cdf704f735,W2H08FJPELTFWWDK2W43,"[DELIVERED,NEXT_IN_ROUTE,OUT_FOR_DELIVERY,NEXT...","[ORIGIN_SCAN,ORIGIN_SCAN]",2021-12-10T11:34:47.972000,QUERETARO 002,SUCCESSFUL,2021-12-11T09:55:31.667000,2021-12-10T11:34:35.026000,2021-12-11T10:37:08.450000,NaN
1,cfba004c-3576-4159-9980-70516e5d35c5,4YNRI0AKHTJCS4DRQFKN,"[DELIVERED,DELIVERED,DELIVERED,DELIVERED,NEXT_...",[ORIGIN_SCAN],2021-12-09T20:32:18.163000,CUERNAVACA 001,SUCCESSFUL,2021-12-10T12:08:40.646000,2021-12-09T20:32:11.038000,2021-12-10T13:20:11.205000,NaN
2,11946177-b239-48cc-ba33-b135380c6843,HIOSNBGAJXV7TK9Y46MV,"[DELIVERED,DELIVERED,DELIVERED,DELIVERED,NEXT_...","[ORIGIN_SCAN,ORIGIN_SCAN]",2021-12-09T17:56:20.002000,TULUM 001,SUCCESSFUL,2021-12-10T12:33:10.985000,2021-12-09T17:56:11.983000,2021-12-10T13:32:39.849000,NaN
3,98aca3cd-3591-44c3-b494-11aacccb48f0,NA46URBZUSW77ZH1OBNB,"[DELIVERED,DELIVERED,DELIVERED,DELIVERED,DELIV...",[ORIGIN_SCAN],2021-12-09T18:39:48.182000,TEPOZOTLAN 001,SUCCESSFUL,2021-12-10T08:52:25.562000,2021-12-09T18:39:40.368000,2021-12-10T11:38:50.077000,NaN
4,3be88e84-879f-4bbc-9f3c-0e4a27a9e270,WMHIZY8ZHRJQYU8QSSEK,"[DELIVERED,DELIVERED,OUT_FOR_DELIVERY,ARRIVAL_...",[ORIGIN_SCAN],2021-12-11T11:14:40.065000,GDL 003,SUCCESSFUL,2021-12-12T09:27:57.979000,2021-12-11T11:14:31.918000,2021-12-12T11:16:22.599000,NaN
...,...,...,...,...,...,...,...,...,...,...,...
13195,7b0539b8-195d-4e83-88f4-0ca261eb0aab,E3WIZ1FR0HSU3FVICV5D,"[ARRIVAL_SCAN,ARRIVAL_SCAN,NEXT_IN_ROUTE,OUT_F...","[RETURNED_TO_CLIENT,DELIVERY_ATTEMPTED,ORIGIN_...",2021-12-08T11:30:57.868000,TULUM 001,FAILED,2021-12-08T16:09:05.923000,2021-12-08T11:30:50.076000,NaN,2021-12-08T18:59:57.107000
13196,a4585175-a5e8-45f8-818a-9d7756ded415,QMJTXBZ7TBKBA59ISS7I,"[ARRIVAL_SCAN,ARRIVAL_SCAN,NEXT_IN_ROUTE,OUT_F...","[RETURNED_TO_CLIENT,DELIVERY_ATTEMPTED,ORIGIN_...",2021-12-11T12:19:57.045000,SPAIN 001,FAILED,2021-12-11T16:51:35.023000,2021-12-11T12:19:49.574000,NaN,2021-12-11T18:39:37.616000
13197,9f676f47-90e9-4f53-ad87-229a3b2f2ad8,L2TGZ3VOQOGGMIHGDTBL,"[ARRIVAL_SCAN,ARRIVAL_SCAN,NEXT_IN_ROUTE,OUT_F...","[RETURNED_TO_CLIENT,DELIVERY_ATTEMPTED,ORIGIN_...",2021-12-11T12:51:25.260000,SPAIN 001,FAILED,2021-12-11T16:51:35.023000,2021-12-11T12:51:16.546000,NaN,2021-12-11T18:38:54.137000
13198,7a81c3e0-d067-4225-a6d6-9aa46a730398,HTDNO9BZZTFMCJYCHE2I,"[ARRIVAL_SCAN,ARRIVAL_SCAN,NEXT_IN_ROUTE,OUT_F...","[RETURNED_TO_CLIENT,DELIVERY_ATTEMPTED,ORIGIN_...",2021-12-11T11:04:35.651000,CUERNAVACA 001,FAILED,2021-12-11T15:48:02.695000,2021-12-11T11:04:28.256000,NaN,2021-12-11T16:59:12.494000
13199,9d27c825-6fd6-4426-b648-7ec9e8905611,D78NNKHA711O0IHI675S,"[ARRIVAL_SCAN,ARRIVAL_SCAN,NEXT_IN_ROUTE,OUT_F...","[RETURNED_TO_CLIENT,DELIVERY_ATTEMPTED,ORIGIN_...",2021-12-09T13:07:32.111000,QUERETARO 002,FAILED,2021-12-09T16:09:13.532000,2021-12-09T13:07:24.187000,NaN,2021-12-09T16:57:01.165000

In [14]:
def Convert(string):
    li = list(string.split(","))
    return li

In [31]:
reg_det["arreglo_estados"][16]

'[DELIVERED,DELIVERED,DELIVERED,NEXT_IN_ROUTE,NEXT_IN_ROUTE,NEXT_IN_ROUTE,ARRIVAL_SCAN,ARRIVAL_SCAN,CREATED,CREATED]'

In [28]:
shorten(reg_det["arreglo_estados"][0], width=130, placeholder="...")

'...'

In [24]:
len(reg_det["arreglo_estados"][0])

146